*{
	margin: 0px;
    padding: 0px;
}

header{
	/*background: #B3E8E4;*/
	height: 100px;
	background-size: cover;
	background-image: url("https://hdwallsource.com/img/2014/4/free-background-wallpaper-22918-23554-hd-wallpapers.jpg");
}

body{
	background-color: #07F0E0;
	color: white;
}

footer{
	position: fixed;
   	left: 0;
   	bottom: 0;
   	width: 100%;
   	background-color:#000000;
   	color: white;
   	text-align: center;
   	height: 60px;
}

#copy{
	padding-top: 19px;
}

#nav {
	float: left;
	width: 25%

}

#main {
	display: inline-block;
	width: 50%;
}

#aside {
	float: right;
	width: 25%;	

}

.aside{
	padding-bottom: 20px;
}

.aside1{
	padding-bottom: 15px;
}

#final{
	padding-bottom: 80px;
	font-size: 25px;
}

hr{
	color: gray;
}

a{
	color: white;
}

